/* -------------------------------------------------------- */
/* Globale Einstellungen */
/* --------------------- */
* {
	font-family:verdana,tahoma,arial,sans-serif;
	font-size:11px;
}
html, body {
	margin:0px;
	padding:0px;
	height:inherit;
	height:100%;
}
body 	{
	background-color:#FFFFFF;
	text-align:center;
}
a:link {
	text-decoration:none;
}
a:visited {
	text-decoration:none;
}
a:hover	{
	text-decoration:underline;
}
em {
	font:inherit;
	font-style:normal;
}


/* -------------------------------------------------------- */
/* Haupt-Layer */
/* ----------- */
div.main {
	width:780px;
	min-height:inherit;
	min-height:100%;
	margin:0px auto;
	background-color:#FFFFFF;
	text-align:justify;
	border-left:2px solid #C0C0C0;
	border-right:2px solid #C0C0C0;
}


/* -------------------------------------------------------- */
/* Header */
/* ------ */
div.header {
	background-color:#FFFFFF;
	background-image:url("../grafiken/mozilo.jpg");
	background-repeat:no-repeat;
	height:150px;
}


/* -------------------------------------------------------- */
/* Detailmenü und Seiteninhalt */
/* --------------------------- */
div.catcontent {
	float:right;
	width:620px;
	overflow:hidden;
}


/* -------------------------------------------------------- */
/* Detailmenü und Seiteninhalt (Galerie) */
/* ------------------------------------- */
div.gallerycontent {
	width:99%;
	overflow:hidden;
	text-align:center;
}


/* -------------------------------------------------------- */
/* Hauptmenü */
/* --------- */
div.mainmenu {
	float:left;
	line-height:20px;
	margin-top:8px;
	text-align:center;
}


/* -------------------------------------------------------- */
/* Hauptmenü (Galerie) */
/* ------------------- */
div.gallerymenu {
	padding:6px 8px 0px 8px;
	line-height:30px;
	text-align:center;
}


/* -------------------------------------------------------- */
/* Detailmenü */
/* ---------- */
div.detailmenu {
	padding:6px 8px 0px 8px;
	line-height:30px;
	text-align:left;
}


/* -------------------------------------------------------- */
/* Detailmenü (Galerie) */
/* -------------------- */
div.gallerynumbermenu {
	padding:6px 8px 0px 8px;
	line-height:30px;
	text-align:center;width:99%;
	float:none;
	margin:0px auto;
	line-height:16px;
}


/* -------------------------------------------------------- */
/* Galerie-Tabelle (Übersichtsmodus) */
/* --------------------------------- */
table.gallerytable {
	margin:0px auto;
	border:1px solid #C0C0C0;
	border-collapse:collapse;
}
td.gallerytd {
	vertical-align:top;
	border:1px solid #C0C0C0;
}
img.thumbnail {
	margin:5px;
}


/* -------------------------------------------------------- */
/* Seiteninhalt */
/* ------------ */
div.pagecontent {
	padding:10px;
	text-align:justify;
}


/* -------------------------------------------------------- */
/* Letzte Änderung */
/* --------------- */
div.lastchange {
	text-align:center;
	line-height:18px;
	margin:22px;
	margin-bottom:-10px;
	border-top:1px solid #C0C0C0;
	color:#C0C0C0;
	font-size:10px;
}


/* -------------------------------------------------------- */
/* Hauptmenüpunkt */
/* -------------- */
a.menu {
	display:block;
	padding:3px;
	color:#000000;
	background-color:#FFFFFF;
	text-align:center;
	border:1px solid #C0C0C0;
	width:120px;
	margin:2px 5px;
	font-weight:bold;
}
a.menu:hover {
	color:#000000;
	text-decoration:none;
	border:1px solid #C0C0C0;
	background-color:#D0D0D0;
}


/* -------------------------------------------------------- */
/* Aktiver Hauptmenüpunkt */
/* ---------------------- */
a.menuactive {
	display:block;
	padding:3px;
	color:#000000;
	text-align:center;
	border:1px solid #C0C0C0;
	background-color:#D0D0D0;
	width:120px;
	margin:2px 5px;
	font-weight:bold;
}
a.menuactive:hover {
	text-decoration:none;
}


/* -------------------------------------------------------- */
/* Detailmenüpunkt */
/* --------------- */
a.detailmenu {
	padding:3px 5px;
	color:#000000;
	background-color:#FFFFFF;
	border:1px solid #C0C0C0;
	font-weight:bold;
}
a.detailmenu:hover {
	color:#000000;
	text-decoration:none;
	border:1px solid #C0C0C0;
	background-color:#D0D0D0;
}


/* -------------------------------------------------------- */
/* Aktiver Detailmenüpunkt */
/* ----------------------- */
a.detailmenuactive {
	padding:3px 5px;
	color:#000000;
	border:1px solid #C0C0C0;
	background-color:#D0D0D0;
	font-weight:bold;
}
a.detailmenuactive:hover {
	text-decoration:none;
}


/* -------------------------------------------------------- */
/* Zuletzt geänderte Seite */
/* ----------------------- */
a.latestchangedlink {
	text-decoration:none;
	font-size:10px;
	color:#a0a0a0;
	font-weight:bold;
}
a.latestchangedlink:hover {
	text-decoration:underline;
}


/* -------------------------------------------------------- */
/* Fehler in Tag-Attribut oder -Wert */
/* --------------------------------- */
em.deadlink {
	color:#ff4444;
	text-decoration:line-through;
	font-weight:bold;
}


/* -------------------------------------------------------- */
/* Suchwort-Hervorhebungen */
/* ----------------------- */
em.highlight {
	padding:0px 1px;
	font-size:inherit;
	background-color:#dd0000;
	color:#ffffff;
	font-size:inherit;
}


/* -------------------------------------------------------- */
/* Suchformular */
/* ------------ */
form.searchform {
	display:block;
	padding:3px;
	color:#000000;
	background-color:#FFFFFF;
	text-align:center;
	border:1px solid #C0C0C0;
	width:120px;
	margin:2px 5px;
	font-weight:bold;
}
form.searchform:hover {
	color:#000000;
	text-decoration:none;
	border:1px solid #C0C0C0;
	background-color:#D0D0D0;
}



/* -------------------------------------------------------- */
/* Suchfeld */
/* -------- */
input.searchtextfield {
	border:1px solid #C0C0C0;
	width:85px;
	margin:0px;
	margin:4px 1px;
}


/* -------------------------------------------------------- */
/* Suchbutton */
/* ---------- */
input.searchbutton {
}




/* -------------------------------------------------------- */
/*                                                          */
/* AB HIER: CMS-SYNTAX                                      */
/*                                                          */
/* -------------------------------------------------------- */


/* -------------------------------------------------------- */
/* [link|...]      */
/* [mail|...]      */
/* [seite|...]     */
/* [kategorie|...] */
/* [datei|...]     */
/* [galerie|...]   */
/* --------------- */
a {
	color:#000077;
	font-weight:bold;
	font-size:inherit;
}


/* -------------------------------------------------------- */
/* [bild|...] */
/* ---------- */
img {
	border:none;
}


/* -------------------------------------------------------- */
/* [bildlinks|...] */
/* --------------- */
img.leftcontentimage {
	margin:8px;
	border:1px solid;
	max-width:100px;
	float:left;
	margin-left:0px;
}


/* -------------------------------------------------------- */
/* [bildrechts|...] */
/* ---------------- */
img.rightcontentimage {
	margin:8px;
	border:1px solid;
	max-width:100px;
	float:right;
	margin-right:0px;
}


/* -------------------------------------------------------- */
/* [fett|...] */
/* ---------- */
em.bold {
	font-weight:bold;
	color:#000000;
}


/* -------------------------------------------------------- */
/* [kursiv|...] */
/* ------------ */
em.italic {
	font-style:italic;
}


/* -------------------------------------------------------- */
/* [fettkursiv|...] */
/* ---------------- */
em.bolditalic {
	font-weight:bold;
	font-style:italic;
}

/* -------------------------------------------------------- */
/* [unter|...] */
/* ------------ */
em.underlined {
	text-decoration:underline;
}


/* -------------------------------------------------------- */
/* [ueber1|...] */
/* ------------ */
h1 {
	font-size:16px;
	margin-top:10px;
	margin-bottom:5px;
}


/* -------------------------------------------------------- */
/* [ueber2|...] */
/* ------------ */
h2 {
	font-size:12px;
	margin-top:10px;
	margin-bottom:5px;
}


/* -------------------------------------------------------- */
/* [ueber3|...] */
/* ------------ */
h3 {
	margin-top:10px;
	margin-bottom:5px;
}


/* -------------------------------------------------------- */
/* [liste1|...] */
/* [liste2|...] */
/* [liste3|...] */
/* ------------ */
ul {
	margin-top:0px;
	margin-bottom:0px;
}
li {
	margin-top:0px;
	margin-bottom:0px;
}


/* -------------------------------------------------------- */
/* [----] */
/* ------ */
hr {

}