<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--  
 
 $Revision:19 $
 $LastChangedDate:2008-03-12 18:06:54 +0100 (Mi, 12 Mrz 2008) $
 $Author:arvid $

-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset={CHARSET}" />
        <style type="text/css"> @import "{CSS_FILE}"; </style>
        <title>{WEBSITE_TITLE}</title>
        <link rel="SHORTCUT ICON" href="{FAVICON_FILE}" />
    </head>
    <body>
        <div class="main">
            <div class="header">
                <div class="sitetitle">
                    {WEBSITE_TITLE}
                </div>
            </div>
            <div class="maincontent">
                <div class="gallerycontent">
                    <h1>{CURRENTGALLERY}</h1>
                    <div class="gallerymenu">
                        {GALLERYMENU}
                    </div>
                    <div class="gallerynumbermenu">
                        {NUMBERMENU}
                    </div>
                    <div class="pagecontent" style="text-align:center;">
                        {CURRENTPIC}<br />
                        <br />
                        {CURRENTDESCRIPTION}<br />
                        <br />
                        {XOUTOFY}
                    </div>
                </div>
                <br style="clear:both;" />
            </div>
        </div>
    </body>
</html>