<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--  
 
 $Revision: 19 $
 $LastChangedDate: 2008-03-12 18:06:54 +0100 (Mi, 12 Mrz 2008) $
 $Author: arvid $

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>{WEBSITE_TITLE}</title>
<link rel="stylesheet" type="text/css" href="{CSS_FILE}" />
</head>

<body>
	<div id="container">
		<div id="headergallery">
			{CURRENTGALLERY}
		</div>
		<div id="linkbar">
			<div id="navcontainergallery">
				{GALLERYMENU}
			</div>
			<div class="gallerynumbermenu">
				{NUMBERMENU}
			</div>
		</div>
		<div class="inhaltgal">
			{CURRENTPIC}<br />
			<br />
			{CURRENTDESCRIPTION}<br />
			<br />
		</div>
		<div class="clearer"></div>
	</div>
</body>
</html>
