<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--  
 
 $Revision: 19 $
 $LastChangedDate: 2008-03-12 18:06:54 +0100 (Mi, 12 Mrz 2008) $
 $Author: arvid $

-->
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		{WEBSITE_DESCRIPTION}
		{WEBSITE_KEYWORDS}
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>{WEBSITE_TITLE}</title>
		<link rel="stylesheet" type="text/css" href="{CSS_FILE}" />
		<link rel="SHORTCUT ICON" href="{FAVICON_FILE}" />
	</head>

	<body>
		<div id="container">
			<div id="header">
			</div>
		
			<div id="linkbar">
				<div id="navcontainer">

					<div id="navlist">
						{MAINMENU}
					</div>
				</div>
			</div>

			<div id="content">
				<div id="right_menu">
					<h4>Inhalt</h4>
					<div class="navcontainer">
						<div class="navlist">
							{DETAILMENU}
						</div>
					</div>
				</div>

				<div class="inhalt">
					{CONTENT}
					<div class="clearer"></div>
				</div>

				<div id="footer">
					| {CMSINFO} | {SITEMAPLINK} | {LASTCHANGE} |
				</div>
			</div>
		</div>
	</body>
</html>
