table 
{
	font-size: 12px;	
	text-align: justify;
}
BODY
{
	color: Black;
	font-family: Verdana, sans-serif;
	font-size: 12px;
}

#main_div 
{
	/* Positionierung */
	min-height: 500px;
	width: 780px;
	left: 50%;
	margin-left: -390px;
	padding: 0px;
	top: 10px;
	position: absolute; /* Design */
	background: #F3F3F3;
	border-width: 1px;
	border-style: solid;
	border-color: #C0C0C0;
	background-position: 250px 150px;
	background-repeat: no-repeat;
	background-image: url(gfx/mozilo_puzzle.gif);
}

#design_Icon 
{
	/* Positionierung */
	position: relative;
	height: 20px;
	width: 20px;
	float: left; 
	
	/* Design */
	background: #DCDCDC;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #C0C0C0;
	background-image: url(gfx/mozilo_titleicon.gif);
	background-position: center;
	background-repeat: no-repeat;
}
#design_Title
{
	/* Positionierung */
	height: 20px;
	width: 100%;
	
	/* Design */
	background: #C9D7EB;
	font-weight: bold;
	color: #5E8AB4;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C0C0C0;
	/*padding-left:120px;*/
}

#design_Titletext
{
	/* Positionierung */
	float:left;
	margin-left:10px;
	line-height:20px;
	
	/* Design */
	background: #C9D7EB;
	font-weight: bold;
	color: #5E8AB4;
	/*padding-left:120px;*/
}

#design_Logout
{
	/* Positionierung */
	height: 20px;
	width: 20px;
	padding: 0px;
	float: right; 
	/* Design */
	background-color: #F3DADB;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #C0C0C0;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(gfx/logout.png);
}

#design_Logout:hover
{
background-color: #DEB3AF;
}

#navi_Top
{
	/* Positionierung */
	height: 45px;
	width: 755px;
	padding-left: 5px;
	top: 21px;
	left: 0px;
	/*position: absolute;*/
	float: right; /* Design */
	background: White;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C0C0C0;
	vertical-align: middle;
}

A.imagelink
{
	text-decoration: none;
	border-width: 0px; 
}
#navi_Left
{
	/* Positionierung */
	/* min-height: 484px; */
	width: 101px;
	height: 530px;
	/*top: 21px;
	left: 0px;*/
	/*position: relative;*/
	float: left; /* Design */
	background: White;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #C0C0C0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C0C0C0;
	vertical-align: middle;
	text-align: center;
	padding-bottom:15px;
}

#navi_btn_home
{
	display: block;
	height: 70px;
	width: 89px;
	
	/* Positionierung */
	position:absolute;
	left:5px;
	top:25px;
	text-align: left;
	
	/* Design */
	background: #FFFFFF;
	border-width: 1px;
	border-style: solid;
	border-color: #C0C0C0;
	background-position: center;
	background-image: url(gfx/home.gif);
	background-repeat: no-repeat;
}

#navi_btn_home:hover
{
	background-color: #AFC4DE;
}

#navi_btn_category
{
	
	display: block;
	/* Positionierung */
	height: 70px;
	width: 89px;
	
	/* Positionierung */
	position:absolute;
	left:5px;
	top:112px;
	text-align: left;
		
	/* Design */
	background: #FFFFFF;
	border-width: 1px;
	border-style: solid;
	border-color: #C0C0C0;
	background-position: center;
	background-image: url(gfx/category.gif);
	background-repeat: no-repeat;
	
}

#navi_btn_category:hover
{
	background-color: #AFC4DE;
}

#navi_btn_Site
{
	
	display: block;
	/* Positionierung */
	height: 70px;
	width: 89px;
	
	/* Positionierung */
	position:absolute;
	left:5px;
	top:200px;
	text-align: left;
	
	/* Design */
	background: #FFFFFF;
	border-width: 1px;
	border-style: solid;
	border-color: #C0C0C0;
	background-position: center;
	background-image: url(gfx/site.gif);
	background-repeat: no-repeat;
}

#navi_btn_Site:hover
{
	background-color: #AFC4DE;
}

#navi_btn_Upload
{
	
	display: block;
	/* Positionierung */
	height: 70px;
	width: 89px;
	
	/* Positionierung */
	position:absolute;
	left:5px;
	top:375px;
	text-align: left;
	
	/* Design */
	background: #FFFFFF;
	border-width: 1px;
	border-style: solid;
	border-color: #C0C0C0;
	background-position: center;
	background-image: url(gfx/files.gif);
	background-repeat: no-repeat;
}

#navi_btn_Upload:hover
{
	background-color: #AFC4DE;
}

#navi_btn_gallery
{
	/* Positionierung */
	
	display: block;
	/* Positionierung */
	height: 70px;
	width: 89px;
	
	/* Positionierung */
	position:absolute;
	left:5px;
	top:287px;
	text-align: left;
	
	/* Design */
	background: #FFFFFF;
	border-width: 1px;
	border-style: solid;
	border-color: #C0C0C0;
	background-position: center;
	background-image: url(gfx/gallery.gif);
	background-repeat: no-repeat;
}

#navi_btn_gallery:hover
{
	background-color: #AFC4DE;
}

#navi_btn_Help
{
	
	display: block;
	/* Positionierung */
	height: 70px;
	width: 89px;
	
	/* Positionierung */
	position:absolute;
	left:5px;
	top:460px;
	text-align: left;
	
	/* Design */
	background: #FFFFFF;
	border-width: 1px;
	border-style: solid;
	border-color: #C0C0C0;
	background-position: center;
	background-image: url(gfx/help.gif);
	background-repeat: no-repeat;
}

#navi_btn_Help:hover
{
	background-color: #AFC4DE;
}




A
{
	color:#00005C;
	font-weight:bold;
	text-decoration: none;
}
a:link {
	text-decoration:none;
}
a:visited {
	text-decoration:none;
}
a:hover	{
	text-decoration:underline;
}

A.leftmenu
{
	color: #000000;
	font-size: 9px;
}
a.leftmenu:hover	{
	text-decoration:none;
}

A.logout
{
	color: #000000;
	font-size: 16px;
	text-align: center;
}

A.topnavilink
{
	font-size: 12px;
	font-weight: bolder;
	color: #5E8AB4;
}

A.topnavilink:hover
{
	text-decoration: underline;
}
table {
	border-collapse:collapse;
	}
Table.title
{
	height: 100%;
	font-size: 10px;
}
table.data {
	width:100%;
}

Table.topnavi
{
	height: 100%;
	font-size: 12px;
}

TD.now1
{
	padding-left: 20px; 
}
TD.config_row2
{
	padding-top: 10px;
	padding-bottom: 10px;
	width: 200px;
	vertical-align: middle;
	padding-left: 15px;
	border-top-color: #D1D1D1;
	border-top-style: solid;
	border-top-width: 1px;
}
TD.config_row1
{
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-color: #D1D1D1;
	border-top-style: solid;
	border-top-width: 1px;
}

TD.title
{
	font-size: 12px;
	font-weight: bolder;
	color: #5E8AB4;
}

#mozilo_Logo
{
	left: 50%;
	/* width: 241px;
	height: 150px; */
	width: 0px;
	height: 0px;
	width: 0px;
	background-image: url(mozilo.jpg);
}

#home_logout
{
	display: block;
	height: 20px;
	width: 20px;
	left: 70px;
	top: 85px;
	position: absolute;
	border: 1px solid #C0C0C0;
	
	background-position: center;
	background-image: url(gfx/logout.png);
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}

#home_logout:hover
{
	background-color: #AFC4DE;
}

#kategorie_new
{
	position: absolute;
	border: 1px solid #C0C0C0;
	height: 20px;
	width: 20px;
	left: 30px;
	top: 170px;
	background-position: center;
	background-image: url(gfx/new.gif);
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}

#kategorie_new:hover
{
	background-color: #AFC4DE;
}

#kategorie_edit
{
	border: 1px solid #C0C0C0;
	position: absolute;
	height: 20px;
	width: 20px;
	left: 50px;
	top: 170px;
	background-position: center;
	background-image: url(gfx/edit.gif);
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}

#kategorie_edit:hover
{
	background-color: #AFC4DE;
}

#kategorie_delete
{
	position: absolute;
	border: 1px solid #C0C0C0;
	height: 20px;
	width: 20px;
	left: 70px;
	top: 170px;
	background-position: center;
	background-image: url(gfx/delete.gif);
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}

#kategorie_delete:hover
{
	background-color: #AFC4DE;
}

#gallery_new
{
	position: absolute;
	border: 1px solid #C0C0C0;
	height: 20px;
	width: 20px;
	left: 30px;
	top: 347px;
	background-position: center;
	background-image: url(gfx/new.gif);
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}

#gallery_new:hover
{
	background-color: #AFC4DE;
}

#gallery_edit
{
	border: 1px solid #C0C0C0;
	position: absolute;
	height: 20px;
	width: 20px;
	left: 50px;
	top: 347px;
	background-position: center;
	background-image: url(gfx/edit.gif);
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}

#gallery_edit:hover
{
	background-color: #AFC4DE;
}

#gallery_delete
{
	position: absolute;
	border: 1px solid #C0C0C0;
	height: 20px;
	width: 20px;
	left: 70px;
	top: 347px;
	background-position: center;
	background-image: url(gfx/delete.gif);
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}

#gallery_delete:hover
{
	background-color: #AFC4DE;
}

#site_new
{
	position: absolute;
	border: 1px solid #C0C0C0;
	height: 20px;
	width: 20px;
	left: 30px;
	top: 260px;
	background-position: center;
	background-image: url(gfx/new.gif);
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}


#site_edit
{
	position: absolute;
	border: 1px solid #C0C0C0;
	height: 20px;
	width: 20px;
	left: 50px;
	top: 260px;
	background-position: center;
	background-image: url(gfx/edit.gif);
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}

#site_edit:hover
{
	background-color: #AFC4DE;
}
#site_new:hover
{
	background-color: #AFC4DE;
}

#site_delete
{
	position: absolute;
	border: 1px solid #C0C0C0;
	height: 20px;
	width: 20px;
	left: 70px;
	top: 260px;
	background-position: center;
	background-image: url(gfx/delete.gif);
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}

#site_delete:hover
{
	background-color: #AFC4DE;
}

#button_site_new
{
	position: absolute;
	border: 1px solid #C0C0C0;
	height: 20px;
	width: 20px;
	left: 30px;
	top: 300px;
	background-position: center;
	background-image: url(gfx/new.gif);
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}

#button_site_new:hover
{
	background-color: #AFC4DE;
}

#button_site_edit
{
	border: 1px solid #C0C0C0;
	position: absolute;
	height: 20px;
	width: 20px;
	left: 50px;
	top: 300px;
	background-position: center;
	background-image: url(gfx/edit.gif);
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}

#button_site_edit:hover
{
	background-color: #AFC4DE;
}

#button_site_delete
{
	position: absolute;
	border: 1px solid #C0C0C0;
	height: 20px;
	width: 20px;
	left: 70px;
	top: 260px;
	background-position: center;
	background-image: url(gfx/delete.gif);
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}

#button_site_delete:hover
{
	background-color: #AFC4DE;
}

#upload_new
{
	position: absolute;
	border: 1px solid #C0C0C0;
	height: 20px;
	width: 20px;
	left: 50px;
	top: 435px;
	background-position: center;
	background-image: url(gfx/new.gif);
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}

#upload_new:hover
{
	background-color: #AFC4DE;
}

#upload_delete
{
	position: absolute;
	border: 1px solid #C0C0C0;
	height: 20px;
	width: 20px;
	left: 70px;
	top: 435px;
	background-position: center;
	background-image: url(gfx/delete.gif);
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}

#upload_delete:hover
{
	background-color: #AFC4DE;
}

#config_cms
{
	position: absolute;
	border: 1px solid #C0C0C0;
	height: 20px;
	width: 20px;
	left: 30px;
	top: 520px;
	background-position: center;
	background-image: url(gfx/cms.gif);
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}

#config_cms:hover
{
	background-color: #AFC4DE;
}

#config_admin
{
	position: absolute;
	border: 1px solid #C0C0C0;
	height: 20px;
	width: 20px;
	left: 50px;
	top: 520px;
	background-position: center;
	background-image: url(gfx/admin.gif);
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}

#config_admin:hover
{
	background-color: #AFC4DE;
}

#config_login
{
	position: absolute;
	border: 1px solid #C0C0C0;
	height: 20px;
	width: 20px;
	left: 70px;
	top: 520px;
	background-position: center;
	background-image: url(gfx/login_small.gif);
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}

#config_login:hover
{
	background-color: #AFC4DE;
}

#div_content
{
	position: relative;
	float: right;
	width: 665px;
	background-color: transparent;
}

p
{
	padding: 10px;
	text-align: justify;
}

h2
{
	text-decoration: underline;
}

IMG.right
{
	float: right;
	padding-left: 5px;
	padding-top: 2px;
}

select
{
	border: 1px solid #C0C0C0;
	margin-top: 10px;
	margin-bottom: 10px;
	
}
select.overviewselect {
	width:120px;
	max-width:120px;
}
Input.text1
{
	border: 1px solid #C0C0C0;
	margin-top: 10px;
	margin-bottom: 10px;
	
}
Input.submit
{
	border: 1px solid #5E8AB4;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color:#ffffff;
	
}
Input.text2
{
	border: 1px solid #C0C0C0;
}

textarea {
	width:645px;
	height:350px;
	border: 1px solid #C0C0C0;
	margin: 10px;
	background-color:#ffffff;
}
.erfolg
{
	display:block;
	margin:10px;
	border: 1px solid green;
	padding: 5px;
	color: green;
	font-weight: bolder;
}

.fehler
{
	display:block;
	margin:10px;
	border: 1px solid red;
	padding: 5px;
	color: red;
	font-weight: bolder;
}

div.loginform_maindiv
{
	height: 100px;
	width: 300px;
	margin-top: -50px;
	margin-left: -150px;
	padding: 0;
	top: 50%;
	left: 50%;
	position: absolute;
	border: 1px solid #C0C0C0;
	padding: 10px;
	background-color: white;
}
div.loginform_shadowdiv
{
	height: 100px;
	width: 300px;
	margin-top: -45px;
	margin-left: -145px;
	padding: 0;
	top: 50%;
	left: 50%;
	position: absolute;
	background-color: #DCDCDC;
	padding: 10px;
}

div.loginform_logo
{
	height: 416px;
	width: 667px;
	padding: 0;
	top: 50%;
	left: 50%;
	position: absolute;
	background-color: #DCDCDC;
	padding: 10px;
}

td.loginImage
{
	vertical-align: middle;
	text-align: center;
}

TD.description
{
	padding-left: 5px;
	padding-right: 5px;
	
}

div.fehler
{
	top: 100px;
	border: 1px solid red;
	width: 350px;
	margin-left: -175px;
	padding: 10px;
	left: 50%;
	position: absolute;
	background-color: #FFECEC;
	text-align: center;
}

img.js
{
	border: 1px solid #c0c0c0;
	height: 24px;
	padding: 1px;
	background-color: #FFFFFF;
	margin:1px 2px 5px 1px;
}

img.js:hover
{
	background-color: #AFC4DE;
}

div.js
{
	border: 1px solid black;
}

h2 { 
	font-size:18px;
	margin-top:10px;
	margin-bottom:5px;
	text-decoration:none;
}
h3 { 
	font-size:16px;
	margin-top:10px;
	margin-bottom:5px;
	text-decoration:none;
}

div.colordiv {
	width:70px;
	height:20px;
	border:1px solid #7F9DB9;
	background-color:#FFFFFF;
}
input.colorinput {
	background-color:#FFFFFF;
	height:17px;
	font-size:12px;
	border:0px;
	margin-top:2px;
	text-align:right;
	padding:0px;
}
img.colorimage {
	float:right;
	padding:1px;
	margin:0px;
}