
img.js
{
	border: 1px solid #c0c0c0;
/*	height: 24px;*/
	padding: 1px;
	background-color: #FFFFFF;
	margin:1px 2px 5px 2px;
}

img.js:hover
{
	background-color: #AFC4DE;
}

div.js
{
	border: 1px solid black;
}

img.jss
{
	border: 1px solid #c0c0c0;
	padding: 1px;
	background-color: #FFFFFF;
	margin:1px 2px 5px 1px;
}

img.jss:hover
{
	background-color: #AFC4DE;
}

div.colordiv {
	width:70px;
	border:1px solid #7F9DB9;
	height: 18px;
	background-color:#FFFFFF;
	margin-top:1px;
}
input.colorinput {
	background-color:#FFFFFF;
	height:17px;
	font-size:12px;
	border:0px;
	margin-top:2px;
	text-align:right;
	padding:0px;
}

input#farbcode {
	font-size:10px;
	background-color:transparent;
}

img.colorimage {
	float:right;
	padding:1px;
	margin:0px;
}
option.noaction {
	font-weight:bold;
}
option.hasaction {
}
select.overviewselect, select.usersyntaxselectbox, select.editnextpageselectbox {
    margin-bottom: 0px;
	  font-size:12px;
	  border:1px solid #C0C0C0;
    height:18px;
    font-size:0.9em;
    width:90%;
} 

select.editnextpageselectbox {
    margin-left: 30px;
    width:20%;
} 

select.usersyntaxselectbox {
    width:100%;
} 

