/* 
* 
* $Revision: 22 $
* $LastChangedDate: 2008-03-21 12:55:02 +0100 (Fr, 21 Mrz 2008) $
* $Author: arvid $
*
*/
/* -------------------------------------------------------- */
/* Globale Einstellungen */
/* --------------------- */
* {
	font-family:verdana,tahoma,arial,sans-serif;
	font-size:11px;
}
html, body {
	margin:0px;
	padding:0px;
	height:inherit;
	height:100%;
	color:#404040;
}
body 	{
	background-color:#FFF1F3;
	text-align:center;
	background-image:url("../grafiken/bg_body.gif");
	background-repeat:repeat-x;
}
a {
	color:#FF7994;
	font-weight:bold;
	font-size:inherit;
}
a:link {
	text-decoration:none;
}
a:visited {
	text-decoration:none;
}
a:hover	{
	text-decoration:underline;
}
em {
	font:inherit;
	font-style:normal;
}


/* -------------------------------------------------------- */
/* Haupt-Layer */
/* ----------- */
div.main {
	width:770px;
	min-height:inherit;
	min-height:100%;
	margin:0px auto;
	text-align:justify;
	background-image:url("../grafiken/bg_main.gif");
	background-position:0px 150px;
}
div.maincontent {
	width:770px;
	min-height:inherit;
	min-height:100%;
	margin:0px auto;
	text-align:justify;
	background-image:url("../grafiken/bg_maincontent.gif");
	background-repeat:no-repeat;
}


/* -------------------------------------------------------- */
/* Header */
/* ------ */
div.header {
	height:150px;
	background-image:url("../grafiken/bg_header.jpg");
	vertical-align:bottom;
}
div.searchbox {
	float:right;
	text-align:right;
	padding-right:20px;
	padding-top:110px;
}
div.sitetitle {
	float:left;
	font-size:16px;
	font-weight:bold;
	margin-top:10px;
	margin-bottom:5px;
	padding-left:20px;
	padding-top:110px;
	color:#FFF1F3;
}

/* -------------------------------------------------------- */
/* Detailmenü und Seiteninhalt */
/* --------------------------- */
div.catcontent {
	float:right;
	width:600px;
	overflow:hidden;
}


/* -------------------------------------------------------- */
/* Detailmenü und Seiteninhalt (Galerie) */
/* ------------------------------------- */
div.gallerycontent {
	width:99%;
	overflow:hidden;
	text-align:center;
}


/* -------------------------------------------------------- */
/* Hauptmenü */
/* --------- */
div.mainmenu {
	float:left;
	line-height:20px;
	margin-top:8px;
	text-align:center;
	margin-left:10px;
}


/* -------------------------------------------------------- */
/* Hauptmenü (Galerie) */
/* ------------------- */
div.gallerymenu {
	padding:6px 8px 0px 8px;
	line-height:30px;
	text-align:center;
}


/* -------------------------------------------------------- */
/* Detailmenü */
/* ---------- */
div.detailmenu {
	padding:6px 8px 0px 8px;
	line-height:30px;
	text-align:left;
}


/* -------------------------------------------------------- */
/* Detailmenü (Galerie) */
/* -------------------- */
div.gallerynumbermenu {
	padding:6px 8px 0px 8px;
	line-height:30px;
	text-align:center;width:99%;
	float:none;
	margin:0px auto;
	line-height:16px;
}


/* -------------------------------------------------------- */
/* Galerie-Tabelle (Übersichtsmodus) */
/* --------------------------------- */
table.gallerytable {
	margin:0px auto;
	border:1px solid #FFB6C6;
	border-collapse:collapse;
}
td.gallerytd {
	vertical-align:top;
	border:1px solid #FFB6C6;
}
img.thumbnail {
	margin:5px;
}


/* -------------------------------------------------------- */
/* Seiteninhalt */
/* ------------ */
div.pagecontent {
	margin:10px 10px 10px 0px;
	padding-bottom:10px;
	text-align:justify;
	overflow:hidden;
}


/* -------------------------------------------------------- */
/* Letzte Änderung */
/* --------------- */
div.lastchange {
	text-align:center;
	line-height:18px;
	margin:22px;
	margin-bottom:-10px;
	border-top:1px solid #FF7994;
	color:#707070;
	font-size:10px;
}


/* -------------------------------------------------------- */
/* Hauptmenüpunkt */
/* -------------- */
a.menu {
	display:block;
	padding:3px;
	color:#000000;
	background-color:#FFFFFF;
	background-image:url("../grafiken/bg_menuitem.gif");
	text-align:center;
	border:1px solid #C2001A;
	width:120px;
	margin:2px 5px;
	font-weight:bold;
}
a.menu:hover {
	text-decoration:none;
	background-image:url("../grafiken/bg_menuitem_active.gif");
}


/* -------------------------------------------------------- */
/* Aktiver Hauptmenüpunkt */
/* ---------------------- */
a.menuactive {
	display:block;
	padding:3px;
	color:#000000;
	text-align:center;
	border:1px solid #C2001A;
	width:120px;
	margin:2px 5px;
	font-weight:bold;
	background-image:url("../grafiken/bg_menuitem_active.gif");
}
a.menuactive:hover {
	text-decoration:none;
}


/* -------------------------------------------------------- */
/* Detailmenüpunkt */
/* --------------- */
a.detailmenu {
	padding:3px 5px;
	color:#404040;
	font-weight:bold;
}
a.detailmenu:hover {
	color:#FF7994;
	text-decoration:none;
}


/* -------------------------------------------------------- */
/* Aktiver Detailmenüpunkt */
/* ----------------------- */
a.detailmenuactive {
	padding:3px 5px;
	color:#FF7994;
	font-weight:bold;
}
a.detailmenuactive:hover {
	text-decoration:none;
}


/* -------------------------------------------------------- */
/* Submenüpunkt */
/* --------------- */
a.submenu {
	display:block;
	width:120px;
	margin:1px 5px;
	padding:1px 3px;
	color:#000000;
	background-image:url("../grafiken/bg_menuitem.gif");
	border:1px solid #C2001A;
	font-weight:normal;
	text-align:center;
	margin-left:10px;
}
a.submenu:hover {
	text-decoration:none;
	background-image:url("../grafiken/bg_menuitem_active.gif");
}


/* -------------------------------------------------------- */
/* Aktiver Submenüpunkt */
/* ----------------------- */
a.submenuactive {
	display:block;
	width:120px;
	margin:1px 5px;
	padding:1px 3px;
	color:#000000;
	border:1px solid #C2001A;
	background-image:url("../grafiken/bg_menuitem_active.gif");
	font-weight:normal;
	text-align:center;
	margin-left:10px;
}
a.submenuactive:hover {
	text-decoration:none;
}


/* -------------------------------------------------------- */
/* Zuletzt geänderte Seite */
/* ----------------------- */
a.latestchangedlink {
	text-decoration:none;
	font-size:10px;
	color:#707070;
	font-weight:bold;
}
a.latestchangedlink:hover {
	text-decoration:underline;
}


/* -------------------------------------------------------- */
/* Fehler in Tag-Attribut oder -Wert */
/* --------------------------------- */
em.deadlink {
	color:#ff4444;
	text-decoration:line-through;
	font-weight:bold;
}


/* -------------------------------------------------------- */
/* Suchwort-Hervorhebungen */
/* ----------------------- */
em.highlight {
	padding:0px 1px;
	font-size:inherit;
	background-color:#dd0000;
	color:#ffffff;
	font-size:inherit;
}


/* -------------------------------------------------------- */
/* Suchformular */
/* ------------ */
form.searchform {
	display:block;
	padding:3px;
	text-align:center;
	margin:2px 5px;
	font-weight:bold;
}
form.searchform:hover {
}



/* -------------------------------------------------------- */
/* Suchfeld */
/* -------- */
input.searchtextfield {
	border:1px solid #C2001A;
	width:85px;
	margin:0px;
	margin:4px 10px;
	color:#404040;
	background-color:#FFF1F3;
}


/* -------------------------------------------------------- */
/* Suchbutton */
/* ---------- */
input.searchbutton {
}




/* -------------------------------------------------------- */
/*                                                          */
/* AB HIER: CMS-SYNTAX                                      */
/*                                                          */
/* -------------------------------------------------------- */


/* -------------------------------------------------------- */
/* [link|...]      */
/* --------------- */
a.link {
}


/* -------------------------------------------------------- */
/* [mail|...]      */
/* --------------- */
a.mail {
}


/* -------------------------------------------------------- */
/* [seite|...]      */
/* --------------- */
a.page {
}


/* -------------------------------------------------------- */
/* [kategorie|...]      */
/* --------------- */
a.category {
}


/* -------------------------------------------------------- */
/* [datei|...]      */
/* --------------- */
a.file {
}


/* -------------------------------------------------------- */
/* [galerie|...]      */
/* --------------- */
a.gallery {
}


/* -------------------------------------------------------- */
/* [bild|...] */
/* ---------- */
img {
	border:none;
}


/* -------------------------------------------------------- */
/* [bildlinks|...] */
/* --------------- */
img.leftcontentimage {
	margin:8px;
	border:1px solid;
	max-width:100px;
	float:left;
	margin-left:0px;
}


/* -------------------------------------------------------- */
/* [bildrechts|...] */
/* ---------------- */
img.rightcontentimage {
	margin:8px;
	border:1px solid;
	max-width:100px;
	float:right;
	margin-right:0px;
}


/* -------------------------------------------------------- */
/* [fett|...] */
/* ---------- */
em.bold {
	font-weight:bold;
}


/* -------------------------------------------------------- */
/* [kursiv|...] */
/* ------------ */
em.italic {
	font-style:italic;
}


/* -------------------------------------------------------- */
/* [fettkursiv|...] */
/* ---------------- */
em.bolditalic {
	font-weight:bold;
	font-style:italic;
}

/* -------------------------------------------------------- */
/* [unter|...] */
/* ------------ */
em.underlined {
	text-decoration:underline;
}


/* -------------------------------------------------------- */
/* [durch|...] */
/* ------------ */
em.crossed {
	text-decoration:line-through;
}


/* -------------------------------------------------------- */
/* [ueber1|...] */
/* ------------ */
h1 {
	font-size:16px;
	margin-top:10px;
	margin-bottom:5px;
}


/* -------------------------------------------------------- */
/* [ueber2|...] */
/* ------------ */
h2 {
	font-size:12px;
	margin-top:10px;
	margin-bottom:5px;
}


/* -------------------------------------------------------- */
/* [ueber3|...] */
/* ------------ */
h3 {
	margin-top:10px;
	margin-bottom:5px;
}


/* -------------------------------------------------------- */
/* [liste|...] */
/* [numliste|...] */
/* ------------ */
ul, ol {
	margin-top:0px;
	margin-bottom:0px;
}
li {
	margin-top:0px;
	margin-bottom:0px;
}


/* -------------------------------------------------------- */
/* [----] */
/* ------ */
hr {

}

/* -------------------------------------------------------- */
/* [tabelle|...] */
/* ------------- */
table.contenttable {
	margin:0px auto;
	border:1px solid #FFD3D7;
	border-collapse:collapse;
	width:99%;
}
th.contenttable {
	vertical-align:top;
	border:1px solid FF8EA5;
	background-color:#FF8EA5;
	padding:2px 5px;
}
td.contenttable1 {
	vertical-align:top;
	padding:2px 5px;
}
td.contenttable2 {
	background-color:#FFD3D7;
	vertical-align:top;
	padding:2px 5px;
}
